.start{
    background-image: url("airportone.jpg");
    background-size: 100%;
    width: 100%;
    height: 100%;
    font-family:'Courier New';
}
.comments{
    margin-top: 50px;
}
.menu-airport {
    background-color: white;
    margin-bottom: 5%;
    text-decoration: none;
    font-size: 17px;
}
.table tbody tr:hover td, .table tbody tr:hover tr {
    background-color: #e3e3e3;
}
.adminmenu {
    float: left;
}
.admintable {
    padding-top: 15%;
}
.headerColumn{
    width: 100%;
    margin-bottom: 100px;
    position: fixed;
    height: 80px;
    background-color: white;
    z-index: 100;
    border-bottom: 1px solid #848484;
}
.leftColumn {
    width: 15%;
    float: left;
    margin-top: 80px;
    font-family: 'Dosis', sans-serif;
}
.leftColumn-index {
    width: 15%;
    float: left;
    margin-top: 80px;
    font-family: 'Dosis', sans-serif;
}
.rightColumn {

    width: 85%;
    float: right;
    margin-top: 80px;
    color: black;
    border-left: solid 1px rgba(0, 0, 0, 0.38);
    font-family: 'Dosis', sans-serif;
    padding-left: 40px;
    background-color: #eeeeee;
}
.articles {
    background-color: #b3c8ef;
}
.articles-logo {
    color:rgb(111, 111, 111) ;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 17px;
    background-color: white;
    text-align: center;
    margin-top: 40%;
    margin-bottom: 10%;
}
.articles-logo a {
    color: rgb(111, 111, 111);
}
.articles-logo a:hover {
    text-decoration: none;
}
#title {
    font-size: 20px;
    text-align: center;
}
.select {
    background-color: #eeeeee;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border-radius: 3px;
    font-family: 'Dosis', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
}
.select:hover {
    background-color: #cacaca;;
}
.select a {
    color: #646464;
}
.select a:hover {
    text-decoration: none;
}
.menufront {
    float: right;
}
.back {
    color:rgb(111, 111, 111) ;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 17px;
    text-align: center;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
    margin-top: 20%;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
    text-decoration: none;
}
.back a {
    color:rgb(111, 111, 111);
    text-decoration: none;
}
.back:hover {
    background-color: #eeeeee;
    text-decoration: none;
}
.list {
    font-size:15px;
    padding:8px;
}
.index {
    padding-top:50px;
    padding-bottom: 30px;
    color: rgb(111, 111, 111);
    font-weight:700;
    letter-spacing:1px;
    font-size:30px;
    text-align: center;
}
.airports {
    float: left;
    font-size: 15px;
    padding-left: 20px;
}
.description {
    margin-top: 8%;
    margin-bottom: 8%;
    font-size: 17px;
}
.ahref {
    color: #5d5d5d;
    font-size: 17px;
    letter-spacing: 1px;

}
.selectahref {
    font-size: 17px;
    letter-spacing: 1px;
}
.table a {
    text-decoration: none;
}
.table a:hover {
    color: #666666;
}
.comments {
    margin-top:70px;
    color:rgba(22, 22, 22, 0.67);
    font-size: 17px;
    text-align: center;
}
.img {
    width: 50%;
    height: 50%;
    box-shadow: 10px 10px 7px #a9a9a9;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.button {
    background-color: rgb(144, 144, 144);
    border: none;
    color: white;
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    border-radius: 3px;
    font-family: 'Dosis', sans-serif;
}
.button:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(92, 92, 92);
}
.button-airport {
    border: 1px solid #a3a3a3;
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
    float: left;
    border-radius: 3px;
    font-family: 'Dosis', sans-serif;
}
.button-airport:hover {
    background-color: #cacaca;
}
.website {
    background-color: #eeeeee;
    border: 1px solid #a3a3a3;
    padding: 4px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    float: left;
    border-radius: 3px;
    font-family: 'Dosis', sans-serif;
}
.website:hover {
    background-color: #cacaca;
}
.more a:hover {
    font-weight: bold;
    text-decoration: none;
}
.responsive {
    display: none;
}
.index-mobile {
    display: none;
}
.section-mobile {
    display: none;
}
.logo-mobile {
    display: none;
}
.contact {
    padding-top: 25%;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 150%;
}
#worldairports-mobile {
    display: none;
}


            @media (max-width: 700px) {
                body {
                    font-family: 'Dosis', sans-serif;
                }
                .headerColumn{
                    display: none;
                }
                .flightradar {
                    display: none;
                }
                .leftColumn {
                    display: none;
                }
                .leftColumn-index {
                    display: none;
                }
                .rightColumn {
                    display: none;
                }
                .section-mobile {
                    display: block;
                    background-color: #c5c5c5;
                }
                .index-mobile {
                    display: block;
                }
                .indexcity-mobile {
                    display: block;
                    padding-top: 35%;
                }
                select {
                    width: 100%;
                }
                .select-mobile {
                    font-size: 300%;
                    padding-top: 35%;
                    width: 100%;
                }
                .start{
                    background-image: url("airportone.jpg");
                    font-size: 150%;
                    width: 100%;
                    height: 100%;
                    font-family:'Courier New';
                }
                .list {
                    font-size:150%;
                    padding-bottom: 1px;

                }
                .index {
                    padding-top:50px;
                    color:rgba(22, 22, 22, 0.67);
                    font-weight:700;
                    letter-spacing:1px;
                    font-size:200%;
                }
                .ahref {
                    color:black;
                    font-size: 300%;
                    letter-spacing: 1px;
                }
                .img {
                    width: 100%;
                    height: 100%;
                    box-shadow: 10px 10px 7px #979797;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
                .button-airport {
                    font-size: 150%;
                }

                .description {
                    font-size: 180%;
                }
                .button {
                    background-color: #4650ff;
                    border: none;
                    color: white;
                    padding: 10px 25px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 200%;
                    margin: 4px 2px;
                    cursor: pointer;
                    float: left;
                }
                #menu-mobile {
                    position: fixed;
                    background-color: white;
                    width: 100%;
                    margin-top: 15%;
                }
                #worldairports-mobile {
                    display: block;
                    font-size: 300%;
                    position: fixed;
                    background-color: white;
                    width: 100%;
                    height: 15%;
                    float:left;
                    font-family:'Courier New';
                    font-weight:600;
                }

            }

